@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900|Roboto:400,500&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #ffffff;
  padding: 15px 0;
}
.header-logo {
  margin-left: 110px;
}
.menu {
  display: table;
  float: right;
  margin-right: 110px;
}
.menu li {
  display: table-cell;
  padding-right: 33px;
  vertical-align: middle;
  padding-top: 20px;
  color: #19345e;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
}
a:hover {
  color: orange;
}
.profile-picture img {
  border-radius: 50%;
  width: 355px;
  height: 355px;
}
.text-first-page {
  margin: 0;
  padding-top: 49px;
}
.cust_class {
  padding-top: 150px;
  padding-bottom: 194px;
  font-family: "Roboto", sans-serif;
}
.hi {
  font-size: 25px;
  color: #19345e;
  margin: 0;
}
.name {
  font-size: 85px;
  font-weight: 900;
  color: #19345e;
  display: inline;
  width: 519px;
  height: 100px;
}
.description {
  font-size: 35px;
  font-weight: 500;
  color: #19345e;
  margin: 0;
  height: 41px;
}
.btn-custom {
  background-color: #f47522;
  color: #ffffff;
  border-radius: 15%;
}
.about-me-kata {
  background-color: #f4f7fc;
  height: 132px;
  padding-top: 43px;
  padding-bottom: 42px;
  margin-left: 110px;
}
.about-me {
  height: 132px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #19345e;
  background-color: #f4f7fc;
}
.footer {
  background-color: #19345e;
  height: 141.11px;
}
.footer-logo {
  margin-top: 33.45px;
  margin-left: -170px;
  text-align: center;
}
.sosmed {
  margin-top: 41.82px;
  margin-left: 40px;
  margin-right: 90px;
  border-right: 1px solid #284168;
  display: table-cell;
  padding-top: 38px;
}
.sosmed p {
  font-family: SF Compact Display;
  font-size: 14px;
  color: #ffffff;
}
.copyright {
  font-family: SF Compact Display;
  font-size: 14px;
  color: #ffffff;
  margin-top: 59.95px;
  margin-right: 92px;
}
.hello {
  width: 550px;
  height: 200px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 17px;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 40px;
}
table,
th,
td {
  border: 1px solid #707070;
}
.container-fluid {
  margin: 0;
}
.isi {
  margin-left: 139px;
  margin-top: 51px;
}
.gambar-anne {
  width: 249px;
  position: absolute;
  border-radius: 10px;
}
.gambar-dot {
  width: 90px;
  height: 78px;
  margin-top: 199px;
  margin-left: -39px;
}
.table {
  margin-bottom: 193.22px;
  padding: 0px;
  padding-bottom: 80px;
  margin: 0;
  padding-left: 40px;
}
.button-fp {
  margin-top: 25px;
}
.isi-utama {
  background-image: url(../img/bg-img-1.png);
  background-size: 100%;
}
.hal-contact-us {
  background-image: url(../img/charles-rRWiVQzLm7k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 512px;
  height: 792px;
  padding-left: 0;
}
.box-blue {
  background-color: blue;
  opacity: 0.65;
  position: absolute;
  width: 100%;
  height: 792px;
}
.form-isi {
  padding-top: 10px;
  padding-right: 150px;
  padding-left: 100px;
}
.alterra {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  z-index: 99;
  padding-top: 332px;
}
h3 {
  padding-top: 25px;
  padding-left: 100px;
  font-size: 23px;
  text-align: left;
  font-family: "Muli", sans-serif;
  color: #19345e;
}
label {
  font-family: "Muli", sans-serif;
  color: #19345e;
  text-align: left;
}
.btn-special {
  color: white;
  background-color: #f47522;
  border-radius: 23px;
  padding: 9px 28px 11px 28px;
}
.form-control2 {
  width: 460px;
  height: 60px;
}
.minimal {
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 95% center;
  background-color: white;
  -webkit-appearance: none;
}
@media (max-width: 992px) {
  .hello {
    width: 100%;
    margin: 0;
  }
  .table {
    width: 100%;
    margin: 0;
    padding: auto;
  }
  .isi {
    width: 100%;
  }
  .sosmed {
    width: 100%;
    text-align: center;
  }
  .gambar-anne {
    width: 50%;
    height: auto;
    text-align: left;
    left: 50px;
  }
  table,
  th,
  td {
    padding: 0;
  }
  .footer {
    height: auto;
    padding: auto;
  }
  .footer-logo {
    text-align: center;
    padding: auto;
  }
  .table {
    padding: 0;
  }
  .table-hp {
    width: 100%;
    margin: 0;
  }
  .profile-picture {
    width: 100%;
    align-items: center;
  }
  .menu {
    padding: 0px;
  }
  .name {
    width: 100%;
    height: 100%;
    font-size: 41px;
  }
  .description {
    font-size: 20px;
  }
  .header-logo {
    text-align: center;
    margin-left: 0px;
  }
  .menu li {
    font-size: 14px;
    padding: 4px;
  }
  .menu ul {
    padding: 0px;
    margin-right: -93px;
    margin-top: 20px;
  }
  .form-isi {
    padding: 0;
  }
  .form-control2 {
    width: 100%;
  }
  .alterra {
    width: 100%;
  }
  .form-controlarea {
    width: 100%;
  }
}
.warna {
  color: #ffffff;
}
